body, html{
    line-height: 0px;
    margin-top:0;
    padding:0;
}
@page {
    margin-top: 5mm;
    margin-bottom: 1mm;
}
.print {
    height: 200mm;
    text-align: center;
    margin: auto;
}
.print > div span {
    margin: auto;
}
.header td{
    text-align: center;
}
.h1{
    font-size: 32px;
    font-weight:bold;
    display:inline;
    text-align: center;
    margin: 0px;
}
.h2{
    font-size: 16px;
    line-height: 0px;
    font-weight: normal;
}
.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    text-align: left;
}
.clear {
    clear: both;
    height: 0;
}
.table{
    height: 200mm;
    border: 2px solid #000;
    border-collapse:collapse;
    margin-bottom: 20px;
}
.hr {
    border: 1 dashed #CCCCCC;
    margin: 1px auto;
}
.title {
    font-size: 16px;
    border-collapse:collapse;
    height: 25mm;
}

.rowTop td{
    border-top: 1px solid #000011;
    height: 15mm;
}
.rowBottom td{
    border-bottom: 1px solid #CCCCCC;
}
.headerTH th{
    border-bottom: 1px solid #000011;
    height: 15mm;
}
.page_top{
    height: 15mm;
}
.rowNormal td{
    height: 18mm;
}
