body, html{
    line-height: 0px;
    margin-top:0;
    padding:0;
}
@page {
    margin-top: 5mm;
    margin-bottom: 1mm;
      }
.print {
    height: 130mm;
    text-align: center;
    margin: auto;
    width: 180mm; /*A4宽度 210mm*/
}
.print > div span {
    margin: auto;
}
.h1{
    font-size: 26px;
    font-weight:bold;
    display:inline;
    text-align: center;
    margin: 0px;
}
.h2{
    font-size: 12px;
    line-height: 0px;
    font-weight: normal;
}
.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    width: 35mm;  /*210mm/6 = 35*/
    text-align: left;
}
.clear {
    clear: both;
    height: 0;
}
.table{
    width: 180mm;
    height: 130mm;
    border: 2px solid #000;
    border-collapse:collapse;
}
.hr {
    border: 1 dashed #000011;
    margin: 1px auto;
    width: 20%;
}
.title {
    border-collapse:collapse;
    height: 10mm;
    width: 180mm;
}

.rowTop td{
    border: 1px solid #000011;
    border-left: 1px solid #000011;
    height: 10mm;
}
.rowBottom td{
    border-bottom: 1px solid #000011;
    border-left: 1px solid #000011;
}
.headerTH th{
    border: 1px solid #000011;
    height: 10mm;
}
.page_bottom{
    height: 15mm;
}
.rowNormal td{
    border-left: 1px solid #000011;
    height: 10mm;
}
.row td{
    height: 10mm;
    border-left: 1px solid #000011;
}
.row5 td{
    border-left: 1px solid #000011;
}