/* here put own css to customize and override the theme */

.reviewed, .deleted {
    padding: 6px;
    margin-right: 5px;
    display: inline-block;
}

.reviewed {
    background-color: rgb(204, 255, 204);
}

.deleted {
    background-color: #f2dede;
}

.row-even {
    background-color: #f9f9f9;
}

.row-deleted {
    background-color: #f2dede !important;
    text-decoration: line-through;
}

.row-reviewed {
    background-color: rgb(204, 255, 204) !important;
}

.transition_title {
    text-align: center;
    padding-bottom: 20px;
}

.transition_title h2 {
    border-bottom-style: double;
    font-weight: bold;
    display: inline;
    color: #066;
}

.transition_role, .transition_action {
    margin: 0 3% 20px 3%;
    width: 93%;
    display: inline-table;
}

.transition_action p {
    float: right;
}

table.transition {
    border: 2px solid #eee;
    margin: 0 3% 2px 3%;
    width: 93%
}

span.dotted {
    border-bottom: 1px dotted #066;
}

table.transition > thead > tr > th {
    text-align: center;
    color: #066;
}

table.transition > thead > tr > th, table.transition > tbody > tr > td {
    border: 1px dotted #ccc;
}

table#balance td, table#profit td, table#subjects td, table#project td, table#depart td, table#money td {
    text-align: right;
}

table#money .left{
    text-align: left;
}

.thumbnail {
    text-align: center;
}

.col-md-index {
    width: 20%;
    float: left;
    padding: 15px;
}

.monthSelect {
    width: 50px;
}

.panel-heading h2 {
    letter-spacing: 10px;
}

.panel-body {
    position: relative;
}

.approved {
    width: 150px;
    height: 74px;
    position: absolute;
    right: 170px;
    top: 90px;
    color: #f00;
    background: url(../img/audit.png) 0 0 no-repeat;
    text-indent: -9999em;
}

.navbar {
    min-height: 35px;
}

.action {
    margin: 30px;
    vertical-align: middle !important;
}

.action td {
}

.year {
    font-size: 20px;
}

.tip {
    color: #737373;
    display: table-caption;
}

.v-subject {
    width: 220px;
}

.sum {
    color: red;
}

.logo-default {
    margin: 10px 0 0 0 !important;
    width: 80px;
}
.page-boxed .page-header.navbar .page-logo{
    width: 150px;
}
.page-header.navbar .menu-toggler.sidebar-toggler{
    margin-top: 14px;
}
.page-content-wrapper .page-content{
    margin-left: 150px;
}
.page-sidebar{
    width: 150px;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu{
    margin-left: 150px;
}

.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
    font-size: 28px;
}

.top-menu .navbar-nav > li.dropdown {
    border-left: 1px solid #ccc;
}

.page-header.navbar .page-actions {
    margin: 0;
    padding-top: 10px;
    float: none;
}

.page-actions .navbar-collapse.collapse {
    text-align: center;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.page-actions .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.page-actions .nav > li {
    float: left;
    margin-left: 1px;
}

.page-header.navbar .page-top {
    background: #e3eaf3;
}

.page-actions .navbar-nav > li.mega-menu-dropdown {
    position: static;
}

@media (max-width: 768px) {
    .page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
        left: auto;
    }
}

@media (min-width: 768px) {
    .page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
        left: 35%;
    }
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content {
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    margin: 0;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content.mega-menu-responsive-content {
    padding: 10px 18px 10px 45px;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu {
    padding: 0;
    margin: 0;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu:last-child {
    border-right: 0;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li {
    padding: 1px !important;
    margin: 0 !important;
    list-style: none;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    font-weight: normal;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a {
    white-space: normal;
    font-family: "Open Sans", sans-serif;
    padding: 7px;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a.iconify {
    padding: 7px 7px 7px 30px;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a.iconify > i {
    position: absolute;
    top: auto !important;
    margin-left: -24px;
    font-size: 15px;
    margin-top: 3px !important;
}

.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a .badge,
.page-actions .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a .label {
    margin-left: 5px;
}

.page-actions .navbar-nav > li.mega-menu-dropdown.mega-menu-full .dropdown-menu {
    left: 20px;
    right: 20px;
}

.page-actions .navbar-nav > li.menu-dropdown .dropdown-menu:after, .page-actions .navbar-nav > li.menu-dropdown .dropdown-menu:before {
    display: none !important;
}

.dropdown-menu-header {
    position: absolute;
    top: -5px;
    left: -1px;
    height: 5px;
    background-color: #264a6d;
    border-left: 1px solid #264a6d;
    border-right: 1px solid #264a6d;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: content-box;
    width: 100%;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    text-decoration: none;
    background-image: none;
    background-color: #264a6d;
    color: #eee;
    filter: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a:hover {
    color: #eee;
}

.table.table-no-border tr td, .table.table-no-border tr th {
    border-width: 0;
}

.options, .options-div {
    /*float: left;*/
    /*width: 100%;*/
    margin-bottom: 20px;
}

.options > .active {
    /*border: 1px solid #4cae4c;*/
    /*position: relative;*/
    background-color: #0098CD;
    color: white;
}

.options > .active > i {
    /*background-image: url(../img/check-16-icon.png);*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    text-indent: -99em;
    overflow: hidden;
    display: block;
    background-position: -1px -4px;
    background-repeat: no-repeat;
}
.options input {
    margin: 5px 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: white;
}

#chartdiv-report {
    width: 100%;
    height: 200px;
    font-size: 11px;
}

#chartdiv-homepage-3d-pie {
    width: 100%;
    height: 435px;
    font-size: 11px;
}

.amcharts-graph-graph2 .amcharts-graph-stroke {
    stroke-dasharray: 4px 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: am-moving-dashes 1s linear infinite;
    animation: am-moving-dashes 1s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -28px;
    }
}

@keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -28px;
    }
}

.laofashi-logo {
    padding-top: 10px;
}

.input_min {
    width: 65px;
    padding: 0px 2px;
    font-size: 13px;
}
.input_mmin{
    width: 55px;
    padding: 0px 2px;
    font-size: 13px;
}
.input_mmmin{
    /*width: 45px;*/
}

.input_mid {
    width: 80px;
}
.input_mid2 {
    width: 100px;
}
.min input, .min select{
    height: 22px;
}
.width-auto{
    width: auto;
}
/*
input[type="text"]:read-only{
    background-color: #eeeeee;
}*/

.select-full {
    width: 100%;
}

.nomatch span {
    float: right;
}

.nomatch a {
    color: inherit;
}

.banner div {
    height: 60px;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    line-height: 29px;
}
.banner .banner-hover:hover {
    border-bottom: 10px solid #8E8E8E;
    margin-top: -10px ;
    height: 70px;
}

.banner {
    display: flex;
}

.banner-balance {
    background-color: #f2b835;
}

.banner-balance div {
    float: right;
}

.banner-unpaid, .banner-return {
    background-color: #e33d43;
}

.banner-before {
    background-color: #0098cd;
}

.banner-in {
    background-color: #0098cd;
}

.banner-out {
    background-color: #007da9;
}

.banner-paid {
    background-color: #56b349;
}

.help-tip {
    display: inline;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    padding-top: 26px;
}

.page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
    /*font-size: 40px;*/
}

.simScrollDiv {
    postion: relative;
    overflow: hidden;
    width: auto;
    min-height: 300px;
}
.simScrollDiv button{
    background-color: white;
    font-size: 15px !important;
    font-family:  "Microsoft YaHei" ! important;
    margin: 10px 25px 5px 5px;
    margin-left: 5px !important;
}
.simScrollDiv button:hover{
    background-color: #0098CD;
    color: white;
}
.modal-dialog{
    min-width: 888px;
}
.dataTable textarea{
    height: auto;
}
div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

.left-info{
    float: left;
    color: #31708f;
}

.fa-lg:not(.fa-stack),.custom-i{
    vertical-align: top;
    margin-top: 3px;
    font-size: 13px !important;
}
.porder, .psorder{
    display: none;
}

.amcharts-chart-div a{
    font-size: 0!important;
}

.modal .modal-step {
    border-bottom: 1px solid #EFEFEF;
}
.import-bank{
    min-height: 200px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step-left {
    text-align: left;
}
.stepwizard-step-right {
    text-align: right;
}
.stepwizard-step-center{
    text-align: center;
}
.stepwizard-step {
    display: table-cell;
    /*text-align: center;*/
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

.nav-pills>li>a.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    display: inline-block;
}
.head_image{
    width: 100%;
    /*height:333px;*/
    background-size: contain;
    background-position-y: 30px;
}
.head_image select{
    width: 95%;
}
.head_image th{
    background-image:url('../img/th.png');
    height:30px;
    background-repeat:no-repeat;
    color: #525252;
    text-shadow: #012b4d 2px 2px 2px;
    text-align: center;
}

.head_image td{
    text-indent:5px;
    color:#444;
    border-bottom:1px solid #bbb;
    border-left:1px solid #bbb;
}

.head_image td.left{
    border-left:1px solid #2e638e;
}

.head_image td.right{
    border-right:1px solid #2e638e;
}

.head_image td.bottom{
    border-bottom:1px solid #2e638e;
}
.grip{
    width:20px;
    height:30px;
    margin-top:-3px;
    background-image:url(../img/grip.png);
    margin-left:-5px;
    position:relative;
    z-index:88;
    cursor:e-resize;
}

.grip:hover{
    background-position-x:-20px;
}

.dragging .grip{
    background-position-x:-40px;
}
.head_image .dotted{
    background-image:url('../img/dotted.png');
    background-repeat:repeat-y;
}
.head_image tr{
    width: 100%;
}
.head_image tbody tr{
    /*background-image: url('http://theme.com/theme/assets/admin/layout2/img/avatar3_small.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.show_image_option{
    float:left;
    width: 100%;
}
.show_image_option_conf{
    float:left;
}
.show_image_option_rows{
    float: right;
}
#show_image .clear{
    height: 25px;
}
.scroller .list-unstyled li{
    display: table-cell;
    width: 140px;
}
.form-horizontal .form-group{
    height: 50px;
}
.import-tab table>tbody>tr>th, .import-tab table>tbody>tr>td{
    padding: 1px;
    height: 20px;
}
.import-tab table .select2-container .select2-choice{
    height: 22px;
    line-height: 20px;
}

.import-tab table>tbody>tr>th .form-control .select2-choice{
    padding-top: 0;
}
.import-tab .select2-container .select2-choice .select2-arrow b{
    background-position: 0 -2px;
}
.import-big table .select2-container .select2-choice{
    height: 34px;
    line-height: 34px;
}
.import-big .select2-container .select2-choice .select2-arrow b{
    background-position: 0 2px;
}
.alert-link {
    color: #423838;
    text-align: left;
    margin-top: 20px;
}
.min .select2-container .select2-choice > .select2-chosen{
    max-width: 85px;
}
.check-title{
    padding-left: 12px;
}
.top-three li{
    float: left;
    width: 30%;
}