html,
body {
    height: 100%;
}
.panel-default{
    padding-bottom: 30px;
}
.page-container {
    margin: 0 auto -60px;
    padding: 60px 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.content {
    background-color: #eee;
    border-radius: 6px;
    padding: 0;
}

.page-footer {
    height: 60px;
    background-color: #f5f5f5;
}

.copyright {
    margin: 20px 0;
}

.form-login {
    margin: 0 auto;
    padding: 15px;
    max-width: 590px;
}

.voucher .row {
    margin: 0;
}

.row div {
    border: 1px;
}

.v-detail {
    padding-top: 2px;
    border-top: 1px solid transparent;
    border-color: #dddddd;
}

.v-subject {
    width: 200px;
    text-align: left;
}

.control-label {
    text-align: right;
    padding-top: 7px;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    /*background: #b94a48;*/
    border-color: #b94a48;
}

.grid-view table.items tr.filters td
{
    width: 50px;
}
.items tbody td{
    padding: 0 5px;
}
.errorMessage {
    color: #b94a48;
}

.col-md-1 {
    padding: 0;
}
.v-detail input{
    height: 28px;
    float: left;
    text-align: right;
}

.table-buttom {
    text-align: right;
    padding: 30px;
}

.panel-heading {
    padding: 10px 30px;
}
.actions {
    text-align: right;
    float: right;
}
.actions-left {
    text-align: left;
    float: left;
}
input[name="Transition[entry_transaction]"]
{
    max-width: 55px;
}

input[name="Transition[entry_posting]"]   /* cgridview filter input*/
{
    max-width: 55px;
}
.v-appendix
{
    width: 300px;
}
.row-even {
    background-color: #f9f9f9;
}
.row-deleted {
    background-color: #f2dede;
}
.row-reviewed {
    background-color: rgb(204, 255, 204);
}
.div-group{
    float: left;
    padding: 10px 40px;
}
.div-group div{
    width: 50px;
    height: 20px;
}
.div-reviewed{
    background-color: rgb(204, 255, 204);
}
.div-deleted{
    background-color: #f2dede;
}
.unit-group{
    padding: 0 50px 30px 50px;
    display: table;
    width: 100%;
}
.unit-item{
    margin: 0 30px;
    /*display: table-cell;*/
    text-align: center;
    max-width: 150px;
}

.unit-operate{
    border-radius: 6px;
    width: 60px;
    height: 20px;
    background-color: #9CBFD3;
    text-align: center;
    /*display: table-cell;*/
    vertical-align: middle;
    color: black;
    max-width: 150px;
    float: left;
    margin: 20px 30px;
}
.unit-icon{
    width: 100px;
    display: block;
}
.unit-title{
    color: #777777;
}
.unit-arrow{
    display: table-cell;
    vertical-align: middle;
}
.long{
    float: left;
}
.amount{
    text-align: right;
}
