html,
body {
    height: 100%;
}

.page-container {
    margin: 0 auto -60px;
    padding: 60px 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.content {
    background-color: #eee;
    border-radius: 6px;
    padding: 0;
}

.page-footer {
    height: 60px;
    background-color: #f5f5f5;
}

.copyright {
    margin: 20px 0;
}

.form-login {
    margin: 0 auto;
    padding: 15px;
    max-width: 590px;
}

.voucher .row {
    margin: 0;
}

.row div {
    border: 1px;
}

.v-detail {
    border-top: 1px solid transparent;
    border-color: #dddddd;
}

.v-subject {
    width: 200px;
    text-align: left;
}

.control-label {
    text-align: right;
    padding-top: 7px;
}


div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    /*background: #b94a48;*/
    border-color: #b94a48;
}

.errorMessage {
    color: #b94a48;
}